img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

/*Start adding your CSS below!*/

div {
    height: 25px;
    width: 120px;
    border-color: #6495ed;
    background-color: #bcd2ee;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
    font-family: Verdana;
}