<app-card>
  <h2>This is a blog!</h2>
</app-card>

<a href="#" class="btn btn-primary blog-btn" (click)="expandAll()">Expand all</a>
<a customElement href="#" class="btn btn-primary blog-btn" (click)="favAll()">Favorite all</a>

<app-blog-post-tile
  #tile
  *ngFor="let post of blogPosts[currentPage]"
  [post]="post">
</app-blog-post-tile>

<app-paginator
  [numberOfPages]="blogPosts.length"
  (pageNumberClick)="updatePage($event)">
</app-paginator>

<a class="btn btn-primary blog-btn">Test Button</a>
<!-- If the component which defines blog-btn CSS class does not encapsulate the View then it's also applied outside of the component: encapsulation: ViewEncapsulation.None -->
