<!--
sudo firewall-cmd --list-ports
sudo firewall-cmd --permanent --zone=public --add-port=4200/tcp
sudo firewall-cmd --permanent --zone=public --remove-port=4200/tcp
sudo firewall-cmd --reload
ng serve --host 0.0.0.0
-->
<h1>{{title}}</h1>
<app-hello-world></app-hello-world>
<app-date></app-date>
<app-address-card [user]="user"></app-address-card>
GitHub username: <input type="text" [(ngModel)]="inputText" [(ngModel)]="userName">
<p>{{inputText}}</p>
<button (click)="search()">Search</button>
<div *ngIf="response">
  <p>Login name: {{response.login}}</p>
  <p>Number of repos: {{response.public_repos}}</p>
  <p>Number of gists: {{response.public_gists}}</p>
</div>
<!-- check if response is undefined before accessing it -->
<p>Number of followers: {{response?.followers}}</p>

<app-view></app-view>

<router-outlet></router-outlet>
